@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
*{
margin: 0px;
padding:0px;
box-sizing: border-box;
font-family: "Doppio One", sans-serif;
font-weight: 800;
}
html,
body{
height: 100%;
width:100%;
}

body{
    background-color: #000;
}
.page1, .page2, .page3{
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

.move{
    background-color: #D9FF06;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

.marque h1{
    font-size: 4vw;
}

.marque img{
    height: 4vw;
}